
html, body {
    height: 100%;
    
    @include when-inside('.touchevents') {
        height: auto;
    }
}

.container-wrapper {
    height: 100%;
    width: 100%;
    overflow-x: hidden!important;
    overflow: auto;
    position: relative;

    display: flex;

}


body {
    font-size: 16px;
    background-color: $body-bg;
    background-image: url('../img/pattern.png');
    background-size: auto 33vh;
    color: $color-third;


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}



.container-fluid {
   
    width: 100%;
    

    &_flush {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

  
    overflow: hidden;
    
    padding: $spacer-2 0;

    @media all and (max-height:760px) {
        padding: $spacer-4 0;
    }


    @include media-breakpoint-up(md) {
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        min-height: 760px;
    }
 


}


