.gallery {
    margin: $spacer-2 0 $spacer-8 0;
    width: 100%;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease-in-out;

    padding: 0 $spacer-2;

    @include media-breakpoint-up(md) {
        padding: 0 $spacer-4;
    }

    @include when-inside('.page-loaded') {
        opacity: 1;
        transform: translateY(0);
    }

    p {
        @extend .h2;
        font-size: 1rem;
        margin: 0 0 $spacer-4 0;

        @include media-breakpoint-up(md) {
            margin: 0 0 $spacer-4 0;
        }
    }

    &__container {
        height: 200px;
  
    }

    &__slide {
        width: 300px;
        height: 200px;
        margin: 0 $spacer-2;
        background: #333;
        box-shadow: 0px 6px 10px rgba(0,0,0, .1);
        overflow: hidden;
        
    }


    a {
        color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display:block;
        height:100%;
        width:100%;

        &:before {
            content: "";
            display:block;
            position:absolute;
            background : $color-brand;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: .7;
            transform: translateY(-100%);
            transition: all 0.2s ease-in-out;
        }


        &:hover {

            &:before {
                transform: translateY(0);
            }

            span {
                opacity: 1;
                visibility: visible;
            }

        }
    }

    span {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 100%;
        padding: 0 $spacer-2;
        text-align: center;
        transform: translateY(-50%);
        font-family: $font-exo;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: .1rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        &:after{
            content: "";
            display: block;
            height: 20px;
            margin: auto;
            width: 20px;
            background-image: url('../img/link.svg');
            background-repeat: no-repeat;
            background-size: contain;
            left: 50%;
            margin-top: $spacer-1;
            transform: translateX(-50%);
        }
    }


    .flickity-viewport {
        overflow: visible;
    }


    .flickity-page-dots {
        bottom: auto;
        top: -34px;
        text-align: left;



        .dot {
            margin: 0;
            margin-right: 8px;
            opacity: 1;
            background: $color-second;

            &.is-selected {
                background: #fff;
            }
        }
    }


}