


h1, .h1 {
    //
  font-family: $font-exo;
  font-size: calculate-rem(40px);

  span {
    opacity: 0;
  }

}

h2, .h2 {
  font-family: $font-exo;
  font-size: calculate-rem(60px);
  display: block;
  margin-top: $spacer-2;

}

h3, .h3 {
   //

 /*    @include media-breakpoint-up(xxl) {
        font-size: calculate-rem(21px);
    } */
}

hr {
  //
}

.brand {
  color: $color-brand;
}