


h1, .h1 {
    //
  font-family: $font-exo;
  font-size: calculate-rem(20px);

  span {
    opacity: 0;
  }


  @include media-breakpoint-up(md) {
    font-size: calculate-rem(30px);
  }

  @include media-breakpoint-up(lg) {
    font-size: calculate-rem(40px);
  }

}

h2, .h2 {
  font-family: $font-exo;
  font-size: calculate-rem(30px);
  display: block;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: calculate-rem(45px);
  }

  @include media-breakpoint-up(lg) {
    font-size: calculate-rem(60px);
  }

}

h3, .h3 {
   //

 /*    @include media-breakpoint-up(xxl) {
        font-size: calculate-rem(21px);
    } */
}

hr {
  //
}

.highlight {
  color: $color-brand;

  font-weight: bold;
}

a {
  font-weight: bold;
  color: $color-second;
}