<section class="gallery">
    <p>Recent work</p>
    <div class="gallery__container">
        <div class="gallery__slide">
            <a href="http://www.fincacortesinrealestate.com/" target="_blank" style="background-image:url('./img/finca-thumb.jpg');">
                <span>Finca Cortesin</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="https://www.walgarveresidences.com" target="_blank" style="background-image:url('./img/walgarve-thumb.jpg');">
                <span>W Algarve Residences</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="https://southerngrove.co.uk/" target="_blank" style="background-image:url('./img/sg-thumb.jpg');">
                <span>Southern Grove</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="http://www.fencourtlondon.com/" target="_blank" style="background-image:url('./img/fencourt-thumb.jpg');">
                <span>Fen Court London</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="http://www.skdocks.co.uk/" target="_blank" style="background-image:url('./img/skd-thumb.jpg');">
                <span>St. Katharine Docks</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="http://spirelondon.com" target="_blank" style="background-image:url('./img/spirelondon-thumb.jpg');">
                <span>Spire London</span>
            </a>
        </div>
         <div class="gallery__slide">
            <a href="http://55greshamstreet.co.uk/" target="_blank" style="background-image:url('./img/55gs-thumb.jpg');">
                <span>55 Gresham Street</span>
            </a>
        </div>
    </div>
</section>