<section class="gallery">
    <div class="gallery__container">
        <div class="gallery__slide">
            <a href="#" target="_blank" style="background-image:url('../img/finca-thumb.jpg');">
                <span>Finca Cortesin</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="#" target="_blank" style="background-image:url('../img/thoe-thumb.jpg');">
                <span>The Heart of Europe</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="#" target="_blank" style="background-image:url('../img/sg-thumb.jpg');">
                <span>Southern Grove</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="#" target="_blank" style="background-image:url('../img/fencourt-thumb.jpg');">
                <span>Fen Court London</span>
            </a>
        </div>
        <div class="gallery__slide">
            <a href="#" target="_blank" style="background-image:url('../img/skd-thumb.jpg');">
                <span>St. Katharine Docks</span>
            </a>
        </div>
         <div class="gallery__slide">
            <a href="#" target="_blank" style="background-image:url('../img/55gs-thumb.jpg');">
                <span>55 Gresham Street</span>
            </a>
        </div>
    </div>
</section>