<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Primary Meta Tags -->
    <title>Miguel Moreira - Creative Web Developer</title>
    <meta name="title" content="Miguel Moreira - Creative Web Developer">
    <meta name="description" content="Versatile web developer with over 6+ years of agency experience. HTML, CSS, Javascript, ReactJS, THREE JS">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://miguelm.co.uk/">
    <meta property="og:title" content="Miguel Moreira - Creative Web Developer">
    <meta property="og:description" content="Versatile web developer with over 6+ years of agency experience. HTML, CSS, Javascript, ReactJS, THREE JS">
    <meta property="og:image" content="http://miguelm.co.uk/img/Miguel-Moreira-800x550.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://miguelm.co.uk/">
    <meta property="twitter:title" content="Miguel Moreira - Creative Web Developer">
    <meta property="twitter:description" content="Versatile web developer with over 6+ years of agency experience. HTML, CSS, Javascript, ReactJS, THREE JS">
    <meta property="twitter:image" content="http://miguelm.co.uk/img/Miguel-Moreira-800x550.jpg">
    <style>

        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #2570fa;
            z-index: 100000000;
            transform: translateY(-100%);
            transform-origin: 0% 0%;
            transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        }
        .preloader img {
            display: block;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.2s ease-in-out;
            opacity: 0;
        }

        .loading .preloader {
            transform: translateY(0);
        }

        .loading .preloader img {
            opacity: 1;
        }
    
    </style>
    <link rel="stylesheet" href="css/styles.css">
</head>     
<body class="loading">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-43106722-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-43106722-2');
</script>
