<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>

        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #530083;
            z-index: 100000000;
            transform: translateY(-100%);
            transform-origin: 0% 0%;
            transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        }
        .preloader img {
            display: block;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: all 0.2s ease-in-out;
            opacity: 0;
        }

        .loading .preloader {
            transform: translateY(0);
        }

        .loading .preloader img {
            opacity: 1;
        }
    
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <title>{{siteTitle}}</title>
</head>     
<body class="loading">
