<section class="intro">
    <h1>Hello. I'm Miguel. </h1>
    <h2>A Creative Developer</h2>
    <ul class="intro__links">
        <li><a href="https://www.linkedin.com/in/miguel-moreira-06ba6279/" target="_blank"><img src="img/linkedin.svg" alt=""></a></li>
        <li><a href="https://github.com/miguelmorei" target="_blank"><img src="img/github.svg" alt=""></a></li>
        <li><a href="mailto:hello@miguelm.co.uk"><img src="img/email.svg" alt=""></a></li>
    </ul>
    <p>Specialising in building beautiful clean interfaces. I have 6+ years 
    working in a fast paced agency environment, delivering all things web.</p>

    <p>Things that I’m extremely good at:
    <span class="highlight">HTML, CSS, Javascript, jQuery</span></p>

    <p>Things that I’m fairly knowledgeable with:<br>
    React JS, Web GL, Node JS, TDD, Canvas, SQL, Angular JS, UX & UI design.</p>

    <p><a href="mailto:hello@miguelm.co.uk">Get in touch now</a></p>
</section>