<section class="intro">
    <h1>Hello. I'm Miguel. </h1>
    <h2>A Creative Developer</h2>
    <ul class="intro__links">
        <li><a href="#" target="_blank"><img src="img/linkedin.svg" alt=""></a></li>
        <li><a href="#" target="_blank"><img src="img/github.svg" alt=""></a></li>
        <li><a href="#" target="_blank"><img src="img/email.svg" alt=""></a></li>
    </ul>
    <p>Specialising in building beautiful clean interfaces. I have 6+ years 
    working in a fast paced agency environment, delivering all things web.</p>

    <p>Things that I’m extremely good at:
    <span class="brand">HTML, CSS, Javascript, jQuery</span></p>

    <p>Things that I’m decent at: <br>
    React JS, Web GL, Node JS, TDD, Canvas, SQL, Angular JS, UX & UI design.</p>
</section>