{{> head}}
{{> preloader }}

<div class="container-wrapper">
    <div class="container-fluid container-fluid_flush">
        {{> bg }}
        {{> intro}}
        {{> gallery}}
    </div>
{{> footer
}}